#Main {
  max-width: 500px;
  margin: auto;
}

.Proactive__card-content {
  border-style: solid;
  background-color:white;
  border-radius: 20px;  
  margin-right: 14px;
  margin-bottom: 30px;
  box-shadow:rgba(0, 0, 0, 0.06) 0px 0px 23px 0px;
}

.Proactive__card-content .MessageBubble{  
  background-color:transparent; 
  box-shadow:none !important;
  padding:0px !important;  
}
.Proactive__card-content .MessageBubble__Decorator {  display:none; }
.launcher__bubble { box-shadow:rgba(0, 0, 0, 0.06) 0px 0px 23px 0px; }

/* BRANDING */
 
.Branding {display:none}
.is-unselectable {display:none}
.message-date {display:none !important}
.BackButton_Container {display: none}

/* HEADER */

/*hidden header mobile*/
.Header {
  padding-top:10px !important;
  padding-bottom:10px !important;
  height: 78px !important;
}
.Header__Subtitle{ display:none; }
.Chat { padding-top: 90px !important; }
/*
@media (max-width: 767px) {
 .Header { display:none;  }
 .Chat { padding-top: 50px; }
}

.Header{
 height: 70px !important; 
}
.Header__Subtitle{
 display:none;
}
*/
/*BUTTONS*/
.input-buttons {justify-content: center;}
.input-button { 
  border-radius: 20px !important; 
  padding: 10px !important; 
  border-color: #ffffff; 
  margin-right: 6px !important;
}

/*.is-image-button.is-flex-direction-column {
    height: 130px default;
}*/

.is-image-button .image .Media, 
.is-image-button .image,
.input-button .icon{ pointer-events:none; }

/* Buttons for Scale Number */
.InputScale__container {
  padding-left:0.50em;
  padding-right:0.50em;
}

/* Button With Link */
.chains { display: none }



/*IMAGES*/
figure { background-color:transparent !important }

/*FONTS/*

/*INTERLINIADOS*/
span.input-button-label{ line-height: 1.2; }
.content :not(:last-child) { margin-bottom:0!important; }

/* BUTTONS HOVER */
/*.input-button.u-white-space-normal.is-flex-direction-column:hover {
 background-color:#8711A0 !important;
}

span.input-button-label:hover, 
.input-button.u-white-space-normal.is-flex-direction-column:hover span.input-button-label:hover,
button.input-button.u-white-space-normal.is-flex-direction-column:hover {
 color: white !important; 
}
*/


/* SLACK INTEGRATION */
.htomessage { display:none; }